.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Remove unlinked theme template pages from live website
content/about/
content/blog/
content/collection/
content/contributors.md
content/license.md
content/elements/
content/form/
content/project/
content/talk/
